.detailsComponent{
    background-color: antiquewhite;
    border-radius: 10px;
    color:black;
    width:50vw;
}

.detailsComponent h5,
.detailsComponent h4,
.detailsComponent h3,
.detailsComponent h2,
.detailsComponent h1,
    .detailsComponent li
{
    font-family: Courier,serif!important;
    text-align: left;
    padding:0 5px;
    margin:0;
}

.detailsComponent h5{
    font-weight:normal;
    font-size: 16px;
}

.detailsComponent h3{
    font-size: 24px;
}

.promptText{
    font-family: Futura,sans-serif!important;
    font-size: 10px;
    float:left;
    font-weight: bold;
    letter-spacing: .1rem;
    margin: 5px;
}

.notesText{
    clear:both;
    pointer-events: none;
}

.spotifyPadding{
    margin-bottom: 10px!important;
}
.companyContainer{
    background-color: whitesmoke;
    border:1px dotted black;
    padding:5px;
}

.roleContainer{
    background-color: whitesmoke;
    border:1px dotted black;
    padding:5px;
}

.timeContainer{
    display:flex;
    flex-direction:row;
}

.playtimeContainer{
    width:50%;
    float:left;
    background-color: whitesmoke;
    border:1px dotted black;
}

.buttonContainer{
    width:100%;
    overflow-y:hidden;
    height:auto;
    align-content:center;
    justify-content: center;
    display: flex;
 }


.rightArrowHidden{
  transform:scale(0);
  opacity: 0;
  pointer-events: none;
}

.rightArrowDetails{
  opacity:1;
  width: 25px;
  height:25px;
  cursor:pointer;
  position:fixed;
  right:calc(43vw - 25vh);
  box-shadow: darkslategray;
     transition-delay: 1s;
    transition-property: transform;
    transition: .5s;
    transform: rotateZ(-180deg);
}

.rightArrowDetails:hover{
  transform:scale(1.2) rotateZ(-180deg);
}


/*fade in animation*/
.fade-in-card {
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}